* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* min-height: 100vh; */
}
body {
    align-content: center;
    min-height: 100vh;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
}

.card-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 400px;
}

.profile-img {
    display: flex;
}

.profile-img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
